{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Pigga landing page.">
    <meta name="author" content="Devcrud">
    <title>Proyecto</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{%static 'vendors/themify-icons/css/themify-icons.css'%}">
    <!-- Bootstrap + Pigga main styles -->
	<link rel="stylesheet" href="{%static 'css/pigga.css'%}">
    <!-- Login main styles -->
	<link rel="stylesheet" href="{%static 'css/login.css'%}">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    
    <!-- First Navigation -->
    <nav class="navbar nav-first navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{%static 'imgs/USAC.png'%}" alt="USAC">
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-primary" href="#home">Llamanos : <span class="pl-2 text-muted">(123) 456 7890</span></a>
                </li>                   
            </ul>
        </div>
    </nav>
    <!-- End of First Navigation --> 
    <!-- Second Navigation -->
    <nav class="nav-second navbar custom-navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'home'%}">Home</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'home'%}#servicios">Servicies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'home'%}#team">Our Team</a>
                    </li>
                    <li class="nav-item" >
                        {% if request.user.is_authenticated %}
                            <img class="boton" src="{%static 'imgs/on.png'%}" alt="ON">
                            
                        {% else %}
                            <img class="boton" src="{%static 'imgs/off.png'%}" alt="OFF">
                        {% endif %}
                    </li>
                </ul> 
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'salir'%}" class="btn btn-primary btn-sm">Logout</a>
                        {% else %}
                            <a href="#" class="btn btn-primary btn-sm">...</a>
                        {% endif %}
                    </li>
                </ul>

                
            </div>
        </div>
    </nav>
    <!-- End Of Second Navigation --> 
    
    <!-- Book Table Section -->
    <section id="home" class="bg-white">
        {%block content%}


        {%endblock content%}
    </section>
    <!-- End OF Book Table Section -->

    <!-- Prefooter Section  -->
    <div class="py-4 border border-lighter border-bottom-0 border-left-0 border-right-0 bg-dark">
        <div class="container">
            <div class="row justify-content-between align-items-center text-center">
                <div class="col-md-3 text-md-left mb-3 mb-md-0">
                    <img src="{%static 'imgs/USAC.png'%}" width="100" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Pigga Landing page" class="mb-0">
                </div>
                <div class="col-md-9 text-md-right">
                    <a href="#" class="px-3"><small class="font-weight-bold">FIUSAC</small></a>
                    <a href="#" class="px-3"><small class="font-weight-bold">Ciudad Universitaria 11.ª Avenida, Zona 12 Ciudad de Guatemala, Guatemala</small></a>
                    <a href="#" class="px-3"><small class="font-weight-bold">Help Center</small></a>
                    <a href="components.html" class="pl-3"><small class="font-weight-bold">Components</small></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End of PreFooter Section -->

    <!-- Page Footer -->
    <footer class="border border-dark border-left-0 border-right-0 border-bottom-0 p-4 bg-dark">
        <div class="container">
            <div class="row align-items-center text-center text-md-left">
                <div class="col">
                    <p class="mb-0 small">&copy; <script>document.write(new Date().getFullYear())</script>, <a href="https://portal.ingenieria.usac.edu.gt/" target="_blank">FIUSAC</a>  All rights reserved </p> 
                </div>
                <div class="d-none d-md-block">
                    <h6 class="small mb-0">
                        <a href="javascript:void(0)" class="px-2"><i class="ti-facebook"></i></a>
                        <a href="javascript:void(0)" class="px-2"><i class="ti-twitter"></i></a>
                        <a href="javascript:void(0)" class="px-2"><i class="ti-instagram"></i></a>
                        <a href="javascript:void(0)" class="px-2"><i class="ti-google"></i></a>
                    </h6>
                </div>
            </div>
        </div>
        
    </footer>
    <!-- End of Page Footer -->

    <!-- core  -->
    <script src="{%static 'vendors/jquery/jquery-3.4.1.js'%}"></script>
    <script src="{%static 'vendors/bootstrap/bootstrap.bundle.js'%}"></script>

    <!-- bootstrap affix -->
    <script src="{%static 'vendors/bootstrap/bootstrap.affix.js'%}"></script>

    <!-- Pigga js -->
    <script src="{%static 'js/pigga.js'%}"></script>

    <script src="{% static 'js/login.js'%}" defer></script>

</body>
</html>
