{% extends 'generales/index.html' %}
{% load static %}
{% block content %}
<div class="fondo">
    <div class="login-wrap">
      <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Special User</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        
        <div class="login-form">
          <!-- Sign in Section -->
          <div class="sign-in-htm">
            <form action="{% url 'registrarUE' %}" method="post">
                {% csrf_token %}
                <div class="group">
                  <label for="user" class="label">Nombre</label>
                  <input name="nombre" id="user" type="text" class="input">
                </div>
    
                <div class="group">
                  <label for="user" class="label">Apellido</label>
                  <input name="apellido" id="user" type="text" class="input">
                </div>
    
                <div class="group">
                  <label for="user" class="label">DPI</label>
                  <input name="dpi" id="user" type="text" class="input">
                </div>
    
                <div class="group">
                  <label for="user" class="label">Username</label>
                  <input name="usuario" id="user" type="text" class="input">
                </div>

                <div class="group">
                  <label for="pass" class="label">Password</label>
                  <input name="contraseña" id="pass" type="password" class="input" data-type="password">
                </div>
    
                <div class="group">
                  <label for="pass" class="label">Repeat Password</label>
                  <input name="confirmacion_contraseña" id="pass" type="password" class="input" data-type="password">
                </div>
    
                <div class="group">
                  <input type="submit" class="button" value="REGISTRAR">
                </div>
    
                <div class="hr"></div>
    
                <div class="foot-lnk">
                    <a href="{%url 'listadoE'%}">¿Ya estas registrado?</a>
                </div>
              </form>

          </div>
          <!-- End Sign in -->
          
          <!-- Sign up Section -->
         
          <!-- End Sign up Section -->

        </div>
      </div>
    </div>
</div>
{% endblock content %}